.task {
  display: flex;
  gap: 5px;
  counter-increment: task-counter;
  border: 1px solid #979393;
  border-radius: 8px;
  padding: 10px;
  background-color: #555454;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.task::before {
  content: counter(task-counter) ". ";
  margin-right: 0.5em;
}
.task:hover {
  background-color: #9c969c;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.task__text {
  flex-grow: 1;
}
.task__buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.task_completed {
  text-decoration: line-through;
  color: grey;
}
.task__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.task__main {
  display: flex;
}
.category {
  display: flex;
}
